<a href="https://colab.research.google.com/github/sidchaubey/Sklearn/blob/main/ImprovingLinearRegressionAccuracy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Improving Model Accuracy of Linear Regression
- Linear Regression is a Supervised type of machine learning which tries to fit a line such that it can be used to make predictions. As the dimension of model increases this linear model fails to achieve significance level of accuracy. 
- A hack to improve the accuracy of Linear Regression is by adding more number of columns by multiplying one column by other.
 - Example suppose we have equation like **y= m1x1+m2x2+c** we can add a new dimension by changing equation as : **y = m1x1+m2x2+m3(x1^2)+m4(x2^2)+m5(x1*x2)+c**

In [42]:
from sklearn import datasets
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [43]:
boston = datasets.load_boston()
# boston

In [44]:
X = pd.DataFrame(data=boston.data, columns=boston.feature_names)
X

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [45]:
X2 = X.copy()
for i in X2.columns:
  X2[i+"_"+i] = X[i]**2

In [46]:
display(X.head())
display(X2.head())

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

      CRIM    ZN  INDUS  ...  PTRATIO_PTRATIO          B_B  LSTAT_LSTAT
0  0.00632  18.0   2.31  ...           234.09  157529.6100      24.8004
1  0.02731   0.0   7.07  ...           316.84  157529.6100      83.5396
2  0.02729   0.0   7.07  ...           316.84  154315.4089      16.2409
3  0.03237   0.0   2.18  ...           349.69  155732.8369       8.6436
4  0.06905   0.0   2.18  ...           349.69  157529.6100      28.4089

[5 rows x 26 columns]

In [47]:
Y = pd.DataFrame(data= boston.target, columns=["result"])
Y2 = Y.copy()

In [48]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y, random_state=0)
X2_train, X2_test, Y2_train, Y2_test = model_selection.train_test_split(X2,Y2, random_state=0)

In [49]:
# Fitting for X
lr = LinearRegression()
lr.fit(X_train, Y_train)
Y_pred = lr.predict(X_test)
print(lr.score(X_test, Y_test))

0.635463843320211

In [50]:
# Fitting for X
lr2 = LinearRegression()
lr2.fit(X2_train, Y2_train)
Y2_pred = lr2.predict(X2_test)
print(lr2.score(X2_test, Y2_test))

0.720091826912297

In [55]:
print(len(lr.coef_[0]))
print(len(lr2.coef_[0]))

13
26

In [58]:
print(lr.intercept_)
print(lr2.intercept_)

[36.93325546]
[171.38186178]